<div id="home">
    <div class="padding ">
        <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
            <div class="row">
                <div class="col-md-6 mx-auto text-center pb-3 ">
                    <h1 class="cont_header">All day menu</h1>
                    <p>This is some text about my website.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="padding ">
        <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
            <div class="row">
                <div class="col-md-6 mx-auto text-center pb-3 ">
                    <h1 class="cont_header">Dinner menu</h1>
                    <p>This is some text about my website.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="padding ">
        <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
            <div class="row">
                <div class="col-md-6 mx-auto text-center pb-3 ">
                    <h1 class="cont_header">Lunch menu</h1>
                    <p>This is some text about my website.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="padding ">
        <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
            <div class="row">
                <div class="col-md-6 mx-auto text-center pb-3 ">
                    <h1 class="cont_header">Drinks</h1>
                    <p>This is some text about my website.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Menu item</h5>
                                    <p class="card-text">Tthis is a menu item discription</p>
                                    <a href="#" class="btn btn-outline-secondary">Edit item</a>
                                    <a href="#" class="btn btn-outline-secondary">Remove item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>