<div id="home">
    <div class="container cont_style p-5">
        <h1 class="mt-5">Profile Page</h1>
        <div class="row mt-5">
            <div class="col-md-6 align-content-center d-flex justify-content-center">
                <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                    alt="Profile Picture" class="img-fluid profile-picture">
            </div>
            <div class="col-md-6">
                <a href="#" class="btn btn-outline-secondary mb-5">Edit profile</a>
                <h2>Username</h2>

                <p>Location</p>
                <div class="col-md-8 profile-link"><a href="#" class="link-dark pb-3">My inventory</a></div>
                <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">My reviews</a></div>
                <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">My dinning history</a></div>
                <div class="col-md-8 profile-link"> <a href="#" class="link-dark pb-3">My favourites</a></div>
            </div>
        </div>
        <div class="row mt-5">
            <h3 class="col-md-6 d-flex justify-content-center">Pending reservations</h3>
            <div class="row mt-5">
                <div class="col-md-6 align-content-center d-flex justify-content-center">
                    <div class="calendar">
                        <table>
                            <thead>
                                <tr>
                                    <th colspan="7">September 2023</th>
                                </tr>
                                <tr>
                                    <th>Sun</th>
                                    <th>Mon</th>
                                    <th>Tue</th>
                                    <th>Wed</th>
                                    <th>Thu</th>
                                    <th>Fri</th>
                                    <th>Sat</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="disabled">29</td>
                                    <td class="disabled">30</td>
                                    <td>31</td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td>3</td>
                                    <td>4</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>6</td>
                                    <td>7</td>
                                    <td>8</td>
                                    <td>9</td>
                                    <td>10</td>
                                    <td>11</td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>13</td>
                                    <td>14</td>
                                    <td>15</td>
                                    <td>16</td>
                                    <td>17</td>
                                    <td>18</td>
                                </tr>
                                <tr>
                                    <td>19</td>
                                    <td>20</td>
                                    <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td>25</td>
                                </tr>
                                <tr>
                                    <td>26</td>
                                    <td>27</td>
                                    <td>28</td>
                                    <td>29</td>
                                    <td>30</td>
                                    <td class="disabled">1</td>
                                    <td class="disabled">2</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 align-content-center d-flex justify-content-center">
                    <div class=" vstack gap-3 col-md-7 mx-auto">
                        <div class="row">
                            <div class="col-md-5 mx-auto text-center pb-1 ">
                                <p>My reviews</p>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card ">
                                    <div class="row g-0 ">
                                        <div class="col-md-4 ">
                                            <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                                                class="img-fluid rounded-circle  " alt="...">
                                        </div>
                                        <div class="col-md-8 ">
                                            <div class="card-body d-flex flex-column">
                                                <h5 class="card-title">rewiew id</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card ">
                                    <div class="row g-0 ">
                                        <div class="col-md-4 ">
                                            <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                                                class="img-fluid rounded-circle  " alt="...">
                                        </div>
                                        <div class="col-md-8 ">
                                            <div class="card-body d-flex flex-column">
                                                <h5 class="card-title">rewiew id</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col">
                                <div class="card ">
                                    <div class="row g-0 ">
                                        <div class="col-md-4 ">
                                            <img src="https://img.freepik.com/premium-vector/anonymous-user-circle-icon-vector-illustration-flat-style-with-long-shadow_520826-1931.jpg"
                                                class="img-fluid rounded-circle  " alt="...">
                                        </div>
                                        <div class="col-md-8 ">
                                            <div class="card-body d-flex flex-column">
                                                <h5 class="card-title">rewiew id</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>