<div id="home">
    <div class="landing-text">
        <h1>Welcome to reserveEat</h1>
        <div>Simplify your dining experience</div>
        <div>Find your nearest restaurant</div>
        <div>Make reservations</div>

        <a class="btn btn-outline-secondary btn-lg" href="/userRegister" role="button">Get Started</a>
    </div>
</div>
<div class="padding">
    <div class="container-fluid py-lg-5">
        <div class="row">
            <div class="col-sm-6 text-center" style="background-color: #c7e3c2;">
                <h2>OUR RESTAURANTS</h2>
                <br>
                <p class="lead">Browse through our wide selection of restaurants able to fit all customers preferences.
                </p>
                <br>
                <br>
                <a class="btn btn-outline-secondary btn-lg" href="#" role="button">OUR RESTAURANTS</a>
            </div>
            <div class="col-sm-6 text-center" style="background-color: #c7e3c2; padding: 0;">
                <img src="/img/Screenshot_1.png" class="img-fluid rounded-top" alt="">
            </div>

        </div>
    </div>
</div>
<div class="padding">
    <div class="container-fluid py-lg-5">
        <div class="row">
            <div class="col-sm-6 text-center" style="background-color:#9c39e2; padding:0;">
                <img src="/img/Screenshot_2-removebg-preview.png" class="img-fluid rounded-top" alt="">
            </div>
            <div class="col-sm-6 text-center" style="background-color:#9c39e2;">
                <h2>ONLINE BOOKING</h2>
                <br>
                <p class="lead">Find the restaurant of your liking and book a table quickly and effortlessly.</p>
                <br>
                <br>
                <a class="btn btn-outline-secondary btn-lg" href="#" role="button">ONLINE BOOKING</a>
            </div>
        </div>
    </div>
</div>

<div id="fixed">
    <div class="landing-text">
        <h1>Use reserveEat as a restaurant owner</h1>
        <div>Keep track of your business</div>
        <div>Promote your restaurant</div>
        <div>Keep your restaurant full</div>

        <a class="btn btn-outline-secondary btn-lg" href="#" role="button">Get Started</a>
    </div>
</div>


<div class="padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center" style="background-color: #c29379;">
                <h2>MANAGE YOUR RESTAURANT</h2>
                <br>
                <p class="lead">With our app, you can track inventory, manage orders, and monitor sales in real-time.
                    Become a part of our family!
                </p>
                <br>
            </div>
            <div class="col-sm-6 text-center" style="background-color: #c29379; padding:0;">
                <img src="/img/Screenshot_5.png" class="img-fluid rounded-top" alt="">
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center " style="background-color: #2c5d86; padding:0;">
                <img src="/img/19566.jpg" class="img-fluid rounded-top" alt="">
            </div>
            <div class="col-sm-6 text-center" style="background-color: #2c5d86;">
                <h2>TRACK YOUR EMPLOYEES</h2>
                <br>
                <p class="lead">Receive ratings and reviews not only for your products and restaurant, but also for your
                    working staff.</p>
                <p class="lead">Keep track of your employees now by becoming a member of our app!</p>
                <br>
                <br>
                <p class="lead">Let us make your restaurant stand out!</p>
            </div>

        </div>
    </div>
</div>
<div class="padding"></div>