<div id="home">
    <div id="carouselControls" class="carousel slide carousel-dark cont_style py-md-2" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="cont_header pb-3 "> Our top restaurants</div>
            <div class="carousel-item active">
                <div class="card-group">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant description</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant description</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card-group">
                    <div class="card">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant description</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                    <div class="card d-none d-md-block">
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Restaurant Name</h5>
                            <p class="card-text">This is a restaurant descriptiont.</p>
                            <a href="/Views/booking.html" class="btn btn-outline-dark">Make reservation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>




    <div class="padding ">
        <div class="container cont_style vstack gap-3 col-md-7 mx-auto py-5  ">
            <div class="row">
                <div class="col-md-6 mx-auto text-center pb-3">
                    <h1>All restaurants</h1>
                    <p>Find the best place to eat.</p>
                </div>
            </div>
            <form class="d-flex pb-3 mx-sm-5 px-sm-5">
                <input class="form-control me-2" type="search" placeholder="Search restaurant by name or place"
                    aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Restaurant Name</h5>
                                    <p class="card-text">This is a restaurant description.</p>
                                    <p class="card-text"><a href="/Views/booking.html" class="btn btn-outline-dark">Make
                                            reservation</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Restaurant Name</h5>
                                    <p class="card-text">This is a restaurant description.</p>
                                    <p class="card-text"><a href="/Views/booking.html" class="btn btn-outline-dark">Make
                                            reservation</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://via.placeholder.com/150" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Restaurant Name</h5>
                                    <p class="card-text">This is a restaurant description.</p>
                                    <p class="card-text"><a href="/Views/booking.html" class="btn btn-outline-dark">Make
                                            reservation</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>