*{
    padding: 0;
    margin:0;
}

.header{
    padding-top: 20px;
    background: url("/Public/img/banner1.jpg") no-repeat center center fixed;
    background-color: #fffcfc; /* fallback background color */
    height: 100%;
    /* position: relative; */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
    /* height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6),url(/Public/img/banner1.jpg));
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px; 
}    */

 /* .header img{
    width:170px;
    float:left;
} */


.login-btn{
    width:100px;
    padding: 8px 0;
    outline:none !important;
    border: 2-x solid #fff;
    border-radius: 50px;
    background: transparent;
    color:#fff;
    float: right;
}


.header h1{
    color: #fff;
    display: block;
    text-align: center; 
    text-shadow:-2px 2px 2px #000;
    padding-top:230px ;
    padding-bottom: 0;
    font-size:55px;
}

.header p{
    color: #fff;
    display: block;
    text-align: center; 
    text-shadow:-2px 2px 2px #000;
    margin: 18px 0;
}

.input-group{
    width: 90%;
    max-width:500px;
    background:#fff;
    margin: 18px;
    border-radius: 30px;
    padding: 4px;
}

.form-control{
    border: 0 !important;
    border-radius: 30 px;
    padding: 2px;
    margin:2px;
    box-shadow: none;
}

.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border:none;
    color:#fff;
    padding: 4 25px;
    border-radius: 30px;
    box-shadow:none;
}

.features{
    padding:100px 0;
}

h1{
    text-align: center;
    padding-bottom: 30px;
}


.feature-img img{
    width: 100%;
}

.price{
    width: 50px;
    height: 50px;
    background: #ff5722;
    color:#fff;
    font-weight: 600;
    border-radius: 50%;
    padding:10px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    position: absolute;
    left:20px;
    bottom:-25px;
}

/* .feaure-img{
    position: relative;

} */

.rating{
    padding:3px;
    float: right;
    background: white;
    position: absolute;
    bottom: -1px;; 
    right: 0;
    box-shadow: none;
}

.features .fa {
    font-size: 15px;
    color: #ff5722;
}

.feature-details{
    padding: 20px;
    text-align: justify;
}

.feature-details h4{
    font-weight: 600;
    margin-top: 20px;
}

.feature-box{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
    position: relative;
}

.gallery{
    padding: 100px 0;
    background: #fff;
}

.gallery-box img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;

}

.gallery-box img:hover{
    transform: scale(1.1);
}

.gallery-box h4{
    color: #fff;
    display: block;
    text-align: center; 
    text-shadow:-2px 2px 2px #000;
    font-weight:600;
    font-size: 150%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.gallery-box {
    position: relative;
    margin-bottom: 30px;
}

.users-feedback{
    padding: 100px 0;
}

.user-review{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,100,0.2);
    padding-bottom: 50px;
}

.user-review p{
    padding: 50px 10px 10px 10px;

}

.users-feedback img{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;

}

/* .user-review p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #1f3d90;
    font-family: sans-serif;
    left:44%;
} */

 
/* #home{
    background: url("/Public/img/banner1.jpg") no-repeat center center fixed;
    background-color: #fffcfc; 
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
} */